<div class="container mt-2">
    <div class="card card-block">
        <nav class="navbar navbar-light bg-light">
            <button class="btn btn-secondary" (click)="open()">Add New Stock</button>
        </nav>
        <form>
            <div class="form-group form-inline">
                Full text search: <input class="form-control ml-2" type="text" [formControl]="filter" name="search" />
            </div>
        </form>

        <div app-table [headers]="['Name', 'Price', 'Type', 'Quantity', 'Sales Unit']">
            <tr stock-row *ngFor="let stock of stocks$ | async; index as i" [stock]="stock"
                [filterValue]="filter.value">
                <td><button class="btn btn-secondary" (click)="open(stock)">Edit</button></td>
            </tr>
        </div>
    </div>
</div>